.mainWeather {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.city {
    font-size: 2rem;
    font-weight: bold;
}

.mainWeather h1 {
	margin: 0;
}

.description {
    text-transform: capitalize;
}

.data {
	font-size: 0.7em;
}


.description {
	text-transform: capitalize;
}

.weather.loading {
	visibility: hidden;
}