.description{
	text-transform: capitalize;
}

.imganddescription {
	display: flex;
	align-items: center;
}

.weather.loading {
	visibility: hidden;
}

.data {
	font-size: 0.7em;
}

.map {
	margin-top: 12px;
	border-radius: 12px;
}

